.App {
    background-attachment: fixed;
    background-position: center;
    background-color: #393939;    
    padding-top: 4rem;
    min-height: 100vh;
}

.navbar {
    background-color: #545454 !important;
}